<div>
	<!--<snap-dragger></snap-dragger>-->
	<!--<snap-content snap-opt-tap-to-close="false" style="background: #50403E;">-->
		<!--<a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">-->
			<!--<span class="menutoggle">-->
				<!--<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>-->
				<!--<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>-->
			<!--</span>-->
		<!--</a>-->

		<!--<div class="fr">-->
		<!--<h2>Download Apps</h2>-->
		<!--</div>-->
		<span class="glyphicon glyphicon-dashboard bg-fade"></span>
		<div layout-padding>
			<div>
				<h1>Category 1</h1>
				<p>App 1</p>
				<p>App 2</p>
				<p>App 3</p>
				<h1>Category 2</h1>
				<p>App 1</p>
				<p>App 2</p>
				<p>App 3</p>
			</div>
		</div>
	<!--</snap-content>-->
</div>
