<div>
	<!--<snap-dragger></snap-dragger>-->
	<!--<snap-content snap-opt-tap-to-close="false" style="background:#473e64;">-->
		<!--<a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">-->
			<!--<span class="menutoggle">-->
				<!--<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>-->
				<!--<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>-->
			<!--</span>-->
		<!--</a>-->

		<!--<div class="fr">-->
		<!--<h2>Community</h2>-->
		<!--</div>-->
		<span class="glyphicon glyphicon-dashboard bg-fade"></span>
    <div layout-padding>
			<div>
				<h1>Chat App / Forums</h1>
				<p>A small html5 app using which people can discuss their doubts etc. about the forum. Text / Audio / Images / Videos. 100 MB should be provisioned for this app so that users' content can be put here.</p>
				<h1>LeaderBoard</h1>
				<p>Tell people who's doing how. Get them motivated by telling that these folks are doing better than them ;) Gamify!</p>
			</div>
		</div>
	<!--</snap-content>-->
</div>
