<div>
  <div flex layout="column" style="position: absolute;bottom: 0;right: 0;overflow: hidden;" layout-align="end end">
    <div class="glyphicon glyphicon-dashboard bg-fade"></div>
  </div>
  <div layout-padding>
    <div>
      <h1>Chat App / Forums</h1>

      <p>A small html5 app using which people can discuss their doubts etc. about the forum. Text / Audio / Images /
        Videos. 100 MB should be provisioned for this app so that users' content can be put here.</p>

      <h1>LeaderBoard</h1>

      <p>Tell people who's doing how. Get them motivated by telling that these folks are doing better than them ;)
        Gamify!</p>
    </div>
  </div>
</div>
