<div layout-padding>
  <div layout-gt-sm="row" layout-sm="column" layout-xs="column-reverse" flex>
    <div flex-gt-sm="60" flex-xs="100" flex-sm="100">
      <md-card layout-align="center center" layout="column">
        <div ng-if="content.type == 'video'" style="width:100%;">
          <div ng-init="r_url=content.contenturl;">
            <div ng-controller="learn.VideoCtrl as ctr" class="videogular-container">
              <videogular vg-theme="ctr.config.theme.url">
                <vg-media vg-src="ctr.config.sources"
                          vg-native-controls="true">
                </vg-media>
              </videogular>
              {{ctr.config.tracks}}
            </div>
          </div>
        </div>
        <div ng-if="content.type == 'doc'">
          <h3>I am a doc. I will open myself in an embedded document reader.</h3>
        </div>
        <div ng-if="content.type == 'audio'">
          <h3>I am a music file. I will open myself in an embedded music player.</h3>
        </div>
        <div ng-if="content.type == 'game'">
          <h3>I am a game. You can play myself.</h3>
        </div>
        <div ng-if="content.type === undefined || content.type === null">
          <h3>Sorry no content found!</h3>
        </div>
      </md-card>
    </div>
    <div layout="column" flex>
      <md-card ng-repeat="move in contents" ng-click='changeActiveContent(move.module_id, move.id)'
               class="animated fadeIn" ng-class="{ 'learnCategoryActive' : content.id == move.id}">
        <md-card-title>
          <md-card-title-media>
            <div class="md-media-sm card-media">
              <img ng-src="images/{{move.type}}.png" width="100%" style="max-width: 60px;"/>
            </div>
          </md-card-title-media>
          <md-card-title-text>
            <span class="md-headline">{{move.name}}</span>
            <span class="md-subhead" ng-show="move.desc">{{move.description}}</span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
    </div>
  </div>
  <!--</snap-content>-->
</div>
