<div>

  <!--<div class="fr">-->
  <!--<h2>Welcome to Liberry</h2>-->
  <!--</div>-->
  <div class="container-fluid" layout="row" layout-wrap flex layout-padding>
    <div flex-gt-md="50" flex-xs flex-sm ng-repeat="move in topBucket" layout="row" layout-align="center center">
      <!-- <div class="row"> -->
      <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}"
               md-theme-watch flex="90" ui-sref='learn.category({categoryId:move.key})'>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{move.name}}</span>
            <span class="md-subhead">Short description</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-sm card-media">
              <img ng-src="{{move.image}}" width="100%" style="max-width: 90px;"/>
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-content>
          <md-progress-linear md-mode="determinate"
                              value="{{move.media_consumed/move.media_total*100}}"></md-progress-linear>
            <span>
            {{move.media_consumed}} / {{move.media_total}} videos watched
            </span>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-primary" ui-sref='learn.category({categoryId:move.key})'>EXPLORE</md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</div>
