<div class="md-toolbar-tools">
  <md-button hide-gt-lg class="md-icon-button" ng-click="toggleSideNav()">
    <md-icon md-font-icon="fa fa-bars fa-2x"></md-icon>
  </md-button>
  <span>My App's Title</span>
  <!-- fill up the space between left and right area -->
  <span flex></span>
  <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
    <md-icon md-font-icon="fa fa-trophy fa-2x"></md-icon>
  </md-button>
  <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
    <md-icon md-font-icon="fa fa-bullhorn fa-2x"></md-icon>
  </md-button>
</div>
