<div class="dashboard-page" layout="row">
  <md-sidenav
    class="md-sidenav-left"
    md-component-id="left"
    md-is-locked-open="$mdMedia('gt-lg')"
    md-disable-backdrop
    md-whiteframe="4"
    ng-include src="'views/menu.html'">
  </md-sidenav>
  <!--<div ng-include src="'views/menu.html'"></div>-->
  <div layout="column" flex>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span>My App's Title</span>
        <!-- fill up the space between left and right area -->
        <span flex></span>
        <md-button>
          Right Bar Button
        </md-button>
      </div>
    </md-toolbar>
    <md-content ui-view layout="column" flex></md-content>
  </div>
</div>
